.DS_Store
*.py[co]
lib/*
include/*
local/*
src/*
!src/carbide-agent
man/*
dropin.cache
.ve
_trial_temp/
subunit-output.txt
test-report.xml
twisted/plugins/dropin.cache
twistd.log
.coverage
_trial_coverage/
AUTHORS
ChangeLog
*.egg-info
*.egg
.tox/*
devenv/*
coverage.xml
