Werkzeug==0.9.4
CherryPy==3.2.4
cqlengine==0.10
structlog==0.4.0
requests==2.0.0
stevedore==0.13
statsd==2.0.3
-e git+git@github.com:jplana/python-etcd.git@9aaf0fe6ed33d88f7cdfd656c34eaa6d405d79e2#egg=python_etcd-lock-support
-e git+git@github.com:racker/teeth-rest.git@8dd582bad70444a0cd36b3d9dceff92683e60897#egg=teeth_rest-master
