Werkzeug==0.9.4
CherryPy==3.2.4
cqlengine==0.10
structlog==0.4.0
requests==2.0.0
stevedore==0.13
statsd==2.0.3
python-glanceclient==0.12.0
-e git+https://github.com/jplana/python-etcd.git@9aaf0fe6ed33d88f7cdfd656c34eaa6d405d79e2#egg=python_etcd-lock-support
-e git+https://github.com/racker/teeth-rest.git@e876c0fddd5ce2f5223ab16936f711b0d57e19c4#egg=teeth_rest
