setuptools==1.1.6
Twisted==13.1.0
Werkzeug==0.9.4
argparse==1.2.1
astroid==1.0.0
cql==1.4.0
cqlengine==0.8
-e git+git@github.com:twisted/klein.git@396658cf14e33ad08a73fa887719cabf823abba7#egg=klein-dev
logilab-common==0.60.0
simplejson==3.3.0
structlog==0.3.0
-e git+git@github.com:racker/teeth-agent.git@88575c5878bf915ede5c299a3eefba65d8376d10#egg=teeth_agent-dev
thrift==0.9.1
treq==0.2.0
wsgiref==0.1.2
zope.interface==4.0.5
txetcd==0.0.3
