# Runtime Dependencies
Twisted==13.1.0
setuptools==1.1.6
Werkzeug==0.9.4
cqlengine==0.8
-e git+https://github.com/twisted/klein.git@396658cf14e33ad08a73fa887719cabf823abba7#egg=klein-dev
structlog==0.3.0
treq==0.2.0
txetcd==0.1-dev
requests==2.0.0
/opt/teeth-agent

# Test Dependencies
pep257==0.2.4
plumbum==1.3.0
pep8==1.4.6
pyflakes==0.7.3
junitxml==0.7
python-subunit==0.0.15
mock==1.0.1
coverage==3.6
